<div class=topbar>
    <div class=topbar-contents>
        <a class=title href="{{ site.baseurl }}/">{{ site.greeting }}</a>
        <nav>
            {% for x in site.navlinks %}
                {% if forloop.first == false %}
                    <span>&bull;</span>
                {% endif %}
                {% if x.internal == true %}
                    <a class=navlink href="{{ site.baseurl }}{{ x.url }}">{{ x.text }}</a>
                {% else %}
                    <a class=navlink href="{{ x.url }}">{{ x.text }}</a>
                {% endif %}
            {% endfor %}

            <ul>
                <li><a href="/category/tip-ai-usage">AI 활용팁</a></li>
                <li><a href="/category/tip-github">깃허브 페이지 만들기</a></li>
                <li><a href="/category/tip-design">디자인 작업팁</a></li>
                <li><a href="/category/tip-life">생활에 필요한 팁</a></li>
            </ul>
        </nav>

    </div>
</div>