

<!DOCTYPE html>
<html lang="en">
	<head>
	    {% include head.html %}
	</head>
	<body>
		{% include topbar.html %}
		<ul>
			<li><a href="/category/tip-ai-usage">AI 활용팁</a></li>
			<li><a href="/category/tip-github">깃허브 페이지 만들기</a></li>
			<li><a href="/category/tip-design">디자인 작업팁</a></li>
			<li><a href="/category/tip-life">생활에 필요한 팁</a></li>
		</ul>
		  
		<main>
			{{ content }}
			{% include footer.html %}
		</main>
		<script>
			$("script[type='math/tex']").replaceWith(function() {
				var tex = $(this).text();
				return katex.renderToString(tex, {displayMode: false});
			});
			$("script[type='math/tex; mode=display']").replaceWith(function() {
				var tex = $(this).html();
				return katex.renderToString(tex.replace(/%.*/g, ''), {displayMode: true});
			});
		  </script>
	</body>
</html>

